[submodule "NeoBundle"]
	path = bundle/NeoBundle
	url = https://github.com/Shougo/neobundle.vim.git
	branch = master
[submodule "Detailed"]
	path = bundle/Detailed
	url = git://github.com/vim-scripts/detailed.git
	branch = master
[submodule "EnhancedCommentify"]
	path = bundle/EnhancedCommentify
	url = git://github.com/vim-scripts/EnhCommentify.vim.git
	branch = master
[submodule "GitRebaseHelper"]
	path = bundle/GitRebaseHelper
	url = git://github.com/pix/git-rebase-helper.git
	branch = master
[submodule "LaTeX"]
	path = bundle/LaTeX
	url = git://git.code.sf.net/p/vim-latex/vim-latex
	branch = master
[submodule "MatchTag"]
	path = bundle/MatchTag
	url = git://github.com/gregsexton/MatchTag.git
	branch = master
[submodule "Pager"]
	path = bundle/Pager
	url = git://github.com/rkitover/vimpager.git
	branch = master
[submodule "PHPComplete"]
	path = bundle/PHPComplete
	url = git://github.com/shawncplus/phpcomplete.vim.git
	branch = master
[submodule "PHPDictionary"]
	path = bundle/PHPDictionary
	url = git://github.com/nishigori/vim-php-dictionary.git
	branch = master
[submodule "PHPDoc"]
	path = bundle/PHPDoc
	url = git://github.com/tobyS/pdv.git
	branch = master
[submodule "SecureModelines"]
	path = bundle/SecureModelines
	url = git://github.com/ciaranm/securemodelines.git
	branch = master
[submodule "ShowMarks"]
	path = bundle/ShowMarks
	url = git://github.com/vim-scripts/ShowMarks.git
	branch = master
[submodule "Supertab"]
	path = bundle/Supertab
	url = git://github.com/ervandew/supertab.git
	branch = master
[submodule "Surround"]
	path = bundle/Surround
	url = git://github.com/tpope/vim-surround.git
	branch = master
[submodule "Syntastic"]
	path = bundle/Syntastic
	url = git://github.com/scrooloose/syntastic.git
	branch = master
[submodule "Tagbar"]
	path = bundle/Tagbar
	url = git://github.com/majutsushi/tagbar.git
	branch = master
[submodule "TagbarPHPCTags"]
	path = bundle/TagbarPHPCTags
	url = git://github.com/vim-php/tagbar-phpctags.vim.git
	branch = master
[submodule "YankRing"]
	path = bundle/YankRing
	url = git://github.com/vim-scripts/YankRing.vim.git
	branch = master
