[submodule "Align"]
	path = bundle/Align
	url = git://github.com/tsaleh/vim-align.git
	ignore = all
[submodule "AutoClose"]
	path = bundle/AutoClose
	url = git://github.com/Townk/vim-autoclose.git
	ignore = all
[submodule "Calendar"]
	path = bundle/Calendar
	url = git://github.com/mattn/calendar-vim.git
	ignore = all
[submodule "ColorSchemes"]
	path = bundle/ColorSchemes
	url = git://github.com/flazz/vim-colorschemes.git
	ignore = all
[submodule "CSV"]
	path = bundle/CSV
	url = git://github.com/chrisbra/csv.vim.git
	ignore = all
[submodule "DBExt"]
	path = bundle/DBExt
	url = git://github.com/vim-scripts/dbext.vim.git
	ignore = all
[submodule "EnhancedCommentify"]
	path = bundle/EnhancedCommentify
	url = git://github.com/hrp/EnhancedCommentify.git
	ignore = all
[submodule "Eunuch"]
	path = bundle/Eunuch
	url = git://github.com/tpope/vim-eunuch.git
	ignore = all
[submodule "FuGITive"]
	path = bundle/FuGITive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = all
[submodule "GitRebaseHelper"]
	path = bundle/GitRebaseHelper
	url = git://github.com/pix/git-rebase-helper.git
	ignore = all
[submodule "GitV"]
	path = bundle/GitV
	url = git://github.com/gregsexton/gitv.git
	ignore = all
[submodule "GnuPG"]
	path = bundle/GnuPG
	url = git://gitorious.org/vim-gnupg/vim-gnupg.git
	ignore = all
[submodule "GoogleVim"]
	path = bundle/GoogleVim
	url = git://github.com/vim-scripts/google.vim.git
	ignore = all
[submodule "LaTeX"]
	path = bundle/LaTeX
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
	ignore = all
[submodule "NerdTree"]
	path = bundle/NerdTree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = all
[submodule "PathOGen"]
	path = bundle/PathOGen
	url = git://github.com/tpope/vim-pathogen.git
	ignore = all
[submodule "PDV"]
	path = bundle/PDV
	url = git://github.com/vim-scripts/PDV--phpDocumentor-for-Vim.git
	ignore = all
[submodule "PHP-Dictionary"]
	path = bundle/PHP-Dictionary
	url = git://github.com/vim-scripts/PHP-dictionary.git
	ignore = all
[submodule "PythonMode"]
	path = bundle/PythonMode
	url = git://github.com/klen/python-mode.git
	ignore = all
[submodule "RagTag"]
	path = bundle/RagTag
	url = git://github.com/tpope/vim-ragtag.git
	ignore = all
[submodule "SecureModelines"]
	path = bundle/SecureModelines
	url = git://github.com/ciaranm/securemodelines.git
	ignore = all
[submodule "Session"]
	path = bundle/Session
	url = git://github.com/xolox/vim-session.git
	ignore = all
[submodule "ShowMarks"]
	path = bundle/ShowMarks
	url = git://github.com/vim-scripts/ShowMarks.git
	ignore = all
[submodule "Supertab"]
	path = bundle/Supertab
	url = git://github.com/ervandew/supertab.git
	ignore = all
[submodule "Snipmate"]
	path = bundle/Snipmate
	url = git://github.com/msanders/snipmate.vim.git
	ignore = all
[submodule "Surround"]
	path = bundle/Surround
	url = git://github.com/tpope/vim-surround.git
	ignore = all
[submodule "Syntastic"]
	path = bundle/Syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore = all
[submodule "Tagbar"]
	path = bundle/Tagbar
	url = git://github.com/majutsushi/tagbar.git
	ignore = all
[submodule "UnImpaired"]
	path = bundle/UnImpaired
	url = git://github.com/tpope/vim-unimpaired.git
	ignore = all
[submodule "VimPager"]
	path = bundle/VimPager
	url = git://github.com/rkitover/vimpager.git
	ignore = all
[submodule "YankRing"]
	path = bundle/YankRing
	url = git://github.com/vim-scripts/YankRing.vim.git
	ignore = all
