[submodule "ColorV"]
	path = bundle/ColorV
	url = git://github.com/dust70/ColorV.git
[submodule "Commander"]
	path = bundle/Commander
	url = git://github.com/dust70/Commander.git
[submodule "Conque"]
	path = bundle/Conque
	url = git://github.com/dust70/Conque.git
[submodule "CSS3Syntax"]
	path = bundle/CSS3Syntax
	url = git://github.com/dust70/CSS3Syntax.git
[submodule "CSSSyntax"]
	path = bundle/CSSSyntax
	url = git://github.com/dust70/CSSSyntax
[submodule "CSV"]
	path = bundle/CSV
	url = git://github.com/dust70/CSV.git
[submodule "CtrlP"]
	path = bundle/CtrlP
	url = git://github.com/dust70/CtrlP.git
[submodule "CtrlPFunky"]
	path = bundle/CtrlPFunky
	url = git://github.com/dust70/CtrlPFunky.git
[submodule "DBExt"]
	path = bundle/DBExt
	url = git://github.com/dust70/DBExt.git
[submodule "Detailed"]
	path = bundle/Detailed
	url = git://github.com/dust70/Detailed.git
[submodule "EnhancedCommentify"]
	path = bundle/EnhancedCommentify
	url = git://github.com/dust70/EnhancedCommentify.git
[submodule "Eunuch"]
	path = bundle/Eunuch
	url = git://github.com/dust70/Eunuch.git
[submodule "FuGITive"]
	path = bundle/FuGITive
	url = git://github.com/dust70/FuGITive.git
[submodule "GitRebaseHelper"]
	path = bundle/GitRebaseHelper
	url = git://github.com/dust70/GitRebaseHelper.git
[submodule "GnuPG"]
	path = bundle/GnuPG
	url = git://github.com/dust70/GnuPG.git
[submodule "GoogleVim"]
	path = bundle/GoogleVim
	url = git://github.com/dust70/GoogleVim.git
[submodule "HTML5"]
	path = bundle/HTML5
	url = git://github.com/dust70/HTML5.git
[submodule "LaTeX"]
	path = bundle/LaTeX
	url = git://git.code.sf.net/p/vim-latex/vim-latex
[submodule "Neocomplcache"]
	path = bundle/Neocomplcache
	url = git://github.com/dust70/Neocomplcache.git
[submodule "NerdTree"]
	path = bundle/NerdTree
	url = git://github.com/dust70/NerdTree
[submodule "Obsession"]
	path = bundle/Obsession
	url = git://github.com/dust70/Obsession.git
[submodule "Outliner"]
	path = bundle/Outliner
	url = git://github.com/dust70/Outliner.git
[submodule "PathOGen"]
	path = bundle/PathOGen
	url = git://github.com/dust70/PathOGen.git
[submodule "PHPAnnotationsSyntax"]
	path = bundle/PHPAnnotationsSyntax
	url = git://github.com/dust70/PHPAnnotationsSyntax.git
[submodule "PHPComplete"]
	path = bundle/PHPComplete
	url = git://github.com/dust70/PHPComplete.git
[submodule "PHPCTags"]
	path = PHPCTags
	url = git://github.com/dust70/PHPCTags.git
[submodule "PHPDictionary"]
	path = bundle/PHPDictionary
	url = git://github.com/dust70/PHPDictionary.git
[submodule "PHPGetterSetter"]
	path = bundle/PHPGetterSetter
	url = git://github.com/dust70/PHPGetterSetter.git
[submodule "PHPDoc"]
	path = bundle/PHPDoc
	url = git://github.com/dust70/PHPDoc.git
[submodule "SecureModelines"]
	path = bundle/SecureModelines
	url = git://github.com/dust70/SecureModelines.git
[submodule "RagTag"]
	path = bundle/RagTag
	url = git://github.com/dust70/RagTag.git
[submodule "ShowMarks"]
	path = bundle/ShowMarks
	url = git://github.com/dust70/ShowMarks.git
[submodule "Snipmate"]
	path = bundle/Snipmate
	url = git://github.com/dust70/Snipmate.git
[submodule "Startify"]
	path = bundle/Startify
	url = git://github.com/dust70/Startify.git
[submodule "Supertab"]
	path = bundle/Supertab
	url = git://github.com/dust70/Supertab.git
[submodule "Surround"]
	path = bundle/Surround
	url = git://github.com/dust70/Surround.git
[submodule "Syntastic"]
	path = bundle/Syntastic
	url = git://github.com/dust70/Syntastic.git
[submodule "Tagbar"]
	path = bundle/Tagbar
	url = git://github.com/dust70/Tagbar.git
[submodule "TagbarPHPCTags"]
	path = bundle/TagbarPHPCTags
	url = git://github.com/dust70/TagbarPHPCTags.git
[submodule "TaskList"]
	path = bundle/TaskList
	url = git://github.com/dust70/TaskList.git
[submodule "Thesaurus"]
	path = bundle/Thesaurus
	url = git://github.com/dust70/Thesaurus.git
[submodule "TLib"]
	path = bundle/TLib
	url = git://github.com/dust70/TLib.git
[submodule "TSkeleton"]
	path = bundle/TSkeleton
	url = git://github.com/dust70/TSkeleton.git
[submodule "UnImpaired"]
	path = bundle/UnImpaired
	url = git://github.com/dust70/UnImpaired.git
[submodule "Pager"]
	path = bundle/Pager
	url = git://github.com/dust70/Pager.git
[submodule "YankRing"]
	path = bundle/YankRing
	url = git://github.com/dust70/YankRing.git
[submodule "Airline"]
	path = bundle/Airline
	url = git://github.com/bling/vim-airline.git
	branch = master
[submodule "Align"]
	path = bundle/Align
	url = git://github.com/vim-scripts/Align.git
	branch = master
[submodule "AutoPairs"]
	path = bundle/AutoPairs
	url = git://github.com/jiangmiao/auto-pairs.git
	branch = master
[submodule "BashSupport"]
	path = bundle/BashSupport
	url = git://github.com/vim-scripts/bash-support.vim.git
	branch = master
[submodule "BufExplorer"]
	path = bundle/BufExplorer
	url = git://github.com/jlanzarotta/bufexplorer.git
	branch = master
[submodule "Calendar"]
	path = bundle/Calendar
	url = git://github.com/mattn/calendar-vim.git
	branch = master
[submodule "Changes"]
	path = bundle/Changes
	url = git://github.com/chrisbra/changesPlugin.git
	branch = master
[submodule "CloseTag"]
	path = bundle/CloseTag
	url = git://github.com/vim-scripts/closetag.vim.git
	branch = master
